/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
       url('../fonts/roboto-v20-latin-regular.woff2') format('woff2'), 
       url('../fonts/roboto-v20-latin-regular.woff') format('woff')
}
/* roboto-700 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'),
       url('../fonts/roboto-v20-latin-700.woff2') format('woff2'), 
       url('../fonts/roboto-v20-latin-700.woff') format('woff')
}



body {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #f8f9fc;
  font-family: "Roboto", "sans-serif";
}

.header {
  width: 100%;
  min-height: 50px;
  padding: 10px 0;
  position: relative;
  z-index: 100;
  top: 0;
  background-color: #fff;
  transform: translateY(-100%);
  animation: show 1.5s 1;
  animation-fill-mode: forwards;
  animation-delay: 0.2s;
}

.header__account {
  position: absolute;
  right: 0;
  top: 0;
}

.account {
  display: flex;
}

.account__notifications {
  margin-right: 20px;
  display: flex;
  align-items: center;
}

.account__notifications,
.settings__toggle {
  opacity: 0.8;
}

.account__notifications:hover,
.settings__toggle:hover {
  cursor: pointer;
  opacity: 1;
}

.settings {
  position: relative;
}

.settings__toggle {
  display: block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  background-color: #f8991b;
  position: relative;
}

.settings__toggler {
  display: none;
}
.settings__navigation {
  position: absolute;
  top: 35px;
  right: 0;;
  min-width: 180px;
  background-color: #fff;
  z-index: 200;
  font-size: 0.9em;
  display: none;
  padding: 10px 15px;
  box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, .25);
}

.settings__account-name {
  color: #d4d9de;
  text-align: center;
  padding-bottom: 7px;
  border-bottom: 2px solid #d4d9de;
  margin-bottom: 10px;
}

.settings__item {
  display: block;
  text-decoration: none;
  color: #000;
  padding: 5px 5px;
}

.settings__item:hover {
  background-color: #f6f7fc;
}

.settings__toggler:checked + .settings__navigation {
  display: block;
}

@keyframes show{
  100% {
  position: sticky;
  transform: translateY(0);
  }
  }

.main {
  padding: 20px 0;
  flex-grow: 1;
}

.container {
  margin: 0 auto;
  max-width: 1140px;
  position: relative;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(12, calc(100%/12));
  grid-template-rows: repeat(12, calc((100vh - 140px)/12));
}

.footer {
  width: 100%;
  min-height: 50px;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.copyright {
  margin: 0 auto;
}

.grid-cell {
  width: calc(100%/12);
  height: 100%;
  width: 100%;
  position: relative;
}

.grid-cell__1 {
  background-color: #fff;
  grid-column: 1 / 4;
  grid-row: 1 / 7;
}

.grid-cell__2 {
  grid-column: 4 / 7;
  grid-row: 1 / 10;
}

.grid-cell__3 {
  grid-column: 7 / -1;
  grid-row: 1 / 5;
}

.grid-cell__4 {
  grid-column: 1 / 4;
  grid-row: 7 / -1;
}

.grid-cell__5 {
  grid-column: 4 / 7;
  grid-row: 10 / -1;
}

.grid-cell__6 {
  grid-column: 7 / 11;
  grid-row: 5 / -1;
}

.grid-cell__7 {
  grid-column: 11 / -1;
  grid-row: 5 / 8;
}
.grid-cell__8 {
  background-color: #0343a3;
  grid-column: 11 / -1;
  grid-row: 8 / 11;
}
.grid-cell__9 {
  background-color: #01255e;
  grid-column: 11 / -1;
  grid-row: 11 / -1;
}

.system-messages {
  position: fixed;
  bottom: 2%;
  right: 3%;
}

.system-message__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 5%;
  width: 200px;
  height: 80px;
  border-radius: 5px;
  padding: 10px;
  padding-left: 50px;
  color: #fff;
  background-repeat: no-repeat;
  background-position: 10px center;
  background-size: 30px;
}

.system-message__title {
  font-weight: bold;
}

.system-message__content {
  font-size: 0.8rem;
}

.system-message__item--success {
  background-color: rgba(71, 207, 25, 0.76);
  background-image: url(/img/system_msg_icons/success.svg);
}

.system-message__item--alert {
  background-color: rgba(214, 28, 28, 0.76);
  background-image: url(/img/system_msg_icons/alert.svg);
}

.system-message__item--warning {
  background-color: rgba(245, 147, 0, 0.76);
  background-image: url(/img/system_msg_icons/warning.svg);
}

/*  */
/*  */
/* animation */
/*  */
/*  */

.flip-box {
  width: 100%;
  height: 100%;
  perspective: 1000px;
}

.flip-box__inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  overflow: hidden;
}

.flip-box__front {
  transition: transform 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}


.flip-box__back {
  background-color: #fff;
}


.flip-box__title{
  font-size: 5rem;
  color: #fff;
}

.flip-box__front, .flip-box__back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* 2 */
.grid-cell__2 .flip-box__title{
  position: absolute;
  right: 5%;
  bottom: 0;
  font-size: 5rem;
}

.grid-cell__2:hover .flip-box__inner {
  transform: rotateY(180deg);
}

.grid-cell__2 .flip-box__front {
  background-color: #f7cf69;
}

.grid-cell__2 .flip-box__back {
  background-color: #fff;
  transform: rotateY(180deg);
}

/* 3 */
.grid-cell__3 .flip-box__title {
  font-style: italic;
  color: #000;
}

.grid-cell__3:hover .flip-box__inner {
  transform: rotateX(180deg);
}

.grid-cell__3 .flip-box__front {
  background-color: #8892bf;
}

.grid-cell__3 .flip-box__back {
  background-color: #fff;
  transform: rotateX(180deg);
}

/* 4 */
  .grid-cell__4 .flip-box__front {
    background-color: #51bf77;
    z-index: 10;
    transform-origin: 100% 100%;
  }
  
  .grid-cell__4:hover .flip-box__front {
    transform: rotate(90deg);
    transform-origin: 0% 0%;
  }

  /* 5 */
  .grid-cell__5 {
    overflow: hidden;
  }

  .grid-cell__5 .flip-box__title{
    font-size: 2rem;
  }
  
  .grid-cell__5 .flip-box__front {
    background-color: #e12b4c;
    z-index: 10;
  }

  .grid-cell__5:hover .flip-box__front {
    transform: translateY(100%);
    transition: 0.5s;
  }
  
  .grid-cell__5 .flip-box__back {
    background-color: #fff;
  }

  /* 6 */
  .grid-cell__6 .flip-box__front {
    background-color: rgb(100, 32, 119);
    z-index: 10;
    transition: 1s;
  }

  .grid-cell__6:hover .flip-box__front {
    transform: rotate(45deg) translate(-115%);
    background-color: rgba(100, 32, 119, 0.3);

  }


  /* 7 */
  .grid-cell__7 .flip-box__front {
    background-color: #2f99fe;
    z-index: 10;
  }

  .grid-cell__7:hover .flip-box__front {
    transform: translateX(100%);
    transition: 0.5s;
  }
  

  /* 8 */
  .grid-cell__8 .flip-box__front {
    background-color: #0343a3;
    z-index: 10;
  }

  .grid-cell__8:hover .flip-box__front {
    transform: skew(50deg, 55deg) translate(105%);
  }

  /* 9 */
  .grid-cell__9 .flip-box__front {
    background-color: #01255e;
    z-index: 10;

  }

  .grid-cell__9:hover .flip-box__front {
    transform: rotate(90deg);
    transform: scale(0) rotate(120deg);
  }
  



.grid-cell__7 .flip-box__title,
.grid-cell__8 .flip-box__title,
.grid-cell__9 .flip-box__title {
  font-size: 1rem;
}