.flip-box {
  width: 100%;
  height: 100%;
  perspective: 1000px;
  overflow: hidden;
}

.flip-box__inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-box__front {
  transition: transform 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.flip-box__back {
  background-color: #fff;
  overflow: auto;
}

.flip-box__title{
  font-size: 5rem;
  color: #fff;
}

.flip-box__front, .flip-box__back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.grid-cell__2,
.grid-cell__3 {
  overflow: visible;
}

.flip-box__logo {
  display: block;
  max-height: 100%;
  width: 100%;
}

.flip-box__button {
  border-radius: 5px;
  background-color: #298df7;
  padding: 15px 45px;
  border: none;
  color: #fff;
}

/* 1 */
  .grid-cell__1:hover .flip-box__front {
    top: 0;
    left: 0;
    width: 25%;
    height: auto;
    transition: 0.4s;
    opacity: 0.5;
  }

.grid-cell__1:hover .flip-box__back {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: 1s;
  transform: translateY(5%);

}

.grid-cell__1 .flip-box__back {
  opacity: 0;
  transform: translateY(0);
}

/* 2 */
.grid-cell__2 .flip-box__title{
  position: absolute;
  right: 5%;
  bottom: 0;
  font-size: 5rem;
  color: #000;
  font-weight: bold;
}

.grid-cell__2:hover .flip-box__inner {
  transform: rotateY(180deg);
}

.grid-cell__2 .flip-box__front {
  background-color: #f7cf69;
}

.grid-cell__2 .flip-box__back {
  transform: rotateY(180deg);
}

/* 3 */
.grid-cell__3 .flip-box__title {
  font-style: italic;
  color: #000;
}

.grid-cell__3:hover .flip-box__inner {
  transform: rotateX(180deg);
}

.grid-cell__3 .flip-box__front {
  background-color: #8892bf;
}

.grid-cell__3 .flip-box__back {
  transform: rotateX(180deg);
}

/* 4 */
.grid-cell__4 .flip-box__front {
  background-color: #51bf77;
  z-index: 10;
  transform-origin: 100% 100%;
}

.grid-cell__4:hover .flip-box__front {
  transform: rotate(90deg);
  transform-origin: 0% 0%;
}

/* 5 */

.grid-cell__5 .flip-box__title{
  font-size: 2rem;
}

.grid-cell__5 .flip-box__front {
  background-color: #e12b4c;
  z-index: 10;
}

.grid-cell__5:hover .flip-box__front {
  transform: translateY(100%);
  transition: 0.5s;
}

/* 6 */
.grid-cell__6 .flip-box__front {
  background-color: rgb(100, 32, 119);
  z-index: 10;
  transition: 1s;
}

.grid-cell__6:hover .flip-box__front {
  transform: rotate(45deg) translate(-115%);
  background-color: rgba(100, 32, 119, 0.3);
}

/* 7 */
.grid-cell__7 .flip-box__front {
  background-color: #2f99fe;
  z-index: 10;
}

.grid-cell__7:hover .flip-box__front {
  transform: translateX(100%);
  transition: 0.5s;
}


/* 8 */
.grid-cell__8 .flip-box__front {
  background-color: #0343a3;
  z-index: 10;
}

.grid-cell__8:hover .flip-box__front {
  transform: skew(50deg, 55deg) translate(200%);
}

/* 9 */
.grid-cell__9 .flip-box__front {
  background-color: #01255e;
  z-index: 10;

}

.grid-cell__9:hover .flip-box__front {
  transform: rotate(90deg);
  transform: scale(0) rotate(120deg);
}

.grid-cell__9 .flip-box__back {
  display: flex;
  justify-content: center;
  text-align: center;
}

.grid-cell__9 .social-icon {
  display: block;
  max-width: 15px;
  margin: 0 5px;
}

.grid-cell__7 .flip-box__title,
.grid-cell__8 .flip-box__title,
.grid-cell__9 .flip-box__title {
  font-size: 1rem;
}

.social-icon {
  opacity: 0.7;
}

.social-icon:hover {
  opacity: 1;
}
