.grid-container {
  display: grid;
  grid-template-columns: repeat(24, calc(100%/24));
  grid-template-rows: repeat(24, calc(560px/24));
}


.grid-cell {
  width: calc(100%/24);
  height: 100%;
  width: 100%;
  position: relative;
}

.grid-cell__1 {
  background-color: #fff;
  grid-column: 1 / 8;
  grid-row: 1 / 14;
}

.grid-cell__2 {
  grid-column: 8 / 14;
  grid-row: 1 / 20;
}

.grid-cell__3 {
  grid-column: 14 / -1;
  grid-row: 1 / 10;
}

.grid-cell__4 {
  grid-column: 1 / 8;
  grid-row: 14 / -1;
}

.grid-cell__5 {
  grid-column: 8 / 14;
  grid-row: 20 / -1;
}

.grid-cell__6 {
  grid-column: 14 / 22;
  grid-row: 10 / -1;
}

.grid-cell__7 {
  grid-column: 22 / -1;
  grid-row: 10 / 16;
}
.grid-cell__8 {
  background-color: #0343a3;
  grid-column: 22 / -1;
  grid-row: 16 / 22;
}
.grid-cell__9 {
  background-color: #01255e;
  grid-column: 22 / -1;
  grid-row: 22 / -1;
}

@media screen and (max-width: 960px) {
  .grid-cell__1 {
    grid-column: 1 / 12;
    grid-row: 1 / 14;
  }
  
  .grid-cell__2 {
    grid-column: 12 / 20;
    grid-row: 1 / 14;
  }
  
  .grid-cell__3 {
    grid-column: 14 / -1;
    grid-row: 14 / 20;
  }
  
  .grid-cell__4 {
    grid-column: 1 / 14;
    grid-row: 20 / -1;
  }
  
  .grid-cell__5 {
    grid-column: 1 / 14;
    grid-row: 14 / 20;
  }
  
  .grid-cell__6 {
    grid-column: 14 / -1;
    grid-row: 20 / -1;
  }
  
  .grid-cell__7 {
    grid-column: 20 / -1;
    grid-row: 1 / 6;
  }
  .grid-cell__8 {
    background-color: #0343a3;
    grid-column: 20 / -1;
    grid-row: 6 / 11;
  }
  .grid-cell__9 {
    background-color: #01255e;
    grid-column: 20 / -1;
    grid-row: 11 / 14;
  }
}