
.header {
  width: 100%;
  min-height: 50px;
  padding: 10px 0;
  position: relative;
  z-index: 100;
  top: 0;
  background-color: #fff;
  transform: translateY(-100%);
  animation: show 1.5s 1;
  animation-fill-mode: forwards;
  animation-delay: 0.2s;
}

.header__account {
  position: absolute;
  right: 0;
  top: 0;
}

.account {
  display: flex;
}

.account__notifications {
  margin-right: 20px;
  display: flex;
  align-items: center;
}

.account__notifications,
.settings__toggle {
  opacity: 0.8;
}

.account__notifications:hover,
.settings__toggle:hover {
  cursor: pointer;
  opacity: 1;
}

.settings {
  position: relative;
}

.settings__toggle {
  display: block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  background-color: #f8991b;
  position: relative;
}

.settings__toggler {
  display: none;
}
.settings__navigation {
  position: absolute;
  top: 35px;
  right: 0;;
  min-width: 180px;
  background-color: #fff;
  z-index: 200;
  font-size: 0.9em;
  display: none;
  padding: 10px 15px;
  box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, .25);
}

.settings__account-name {
  color: #d4d9de;
  text-align: center;
  padding-bottom: 7px;
  border-bottom: 2px solid #d4d9de;
  margin-bottom: 10px;
}

.settings__item {
  display: block;
  text-decoration: none;
  color: #000;
  padding: 5px 5px;
}

.settings__item:hover {
  background-color: #f6f7fc;
}

.settings__toggler:checked + .settings__navigation {
  display: block;
}

@keyframes show{
  100% {
  position: sticky;
  transform: translateY(0);
  }
}