/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
       url('../fonts/roboto-v20-latin-regular.woff2') format('woff2'), 
       url('../fonts/roboto-v20-latin-regular.woff') format('woff')
}
/* roboto-700 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'),
       url('../fonts/roboto-v20-latin-700.woff2') format('woff2'), 
       url('../fonts/roboto-v20-latin-700.woff') format('woff')
}

html {
  font-size: calc(8px + 0.5vw);
}

body {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #f8f9fc;
  font-family: "Roboto", "sans-serif";
  overflow: hidden;
}

.main {
  padding: 20px 0;
  flex-grow: 1;
}

.container {
  margin: 0 auto;
  max-width: 1140px;
  position: relative;
}