
.system-messages {
  position: fixed;
  bottom: 2%;
  right: 3%;
}

.system-message__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 5%;
  width: 200px;
  height: 80px;
  border-radius: 5px;
  padding: 10px;
  padding-left: 50px;
  color: #fff;
  background-repeat: no-repeat;
  background-position: 10px center;
  background-size: 30px;
}

.system-message__title {
  font-weight: bold;
}

.system-message__content {
  font-size: 12px;
}

.system-message__item--success {
  background-color: rgba(71, 207, 25, 0.76);
  background-image: url(/img/system_msg_icons/success.svg);
}

.system-message__item--alert {
  background-color: rgba(214, 28, 28, 0.76);
  background-image: url(/img/system_msg_icons/alert.svg);
}

.system-message__item--warning {
  background-color: rgba(245, 147, 0, 0.76);
  background-image: url(/img/system_msg_icons/warning.svg);
}